PROBE_AVAILABILITY_URL={{ probes_availability_url }}
PROBE_BASE_URL={{ probes_base_url }}
PROBE_HEARTBEAT={{ probes_heartbeat_id }}
PROBE_INTERVAL={{ probes_interval }}
PROBE_OBSERVER_INTERVAL={{ probes_observer_interval }}
PROBE_TIMEOUT={{ probes_timeout }}
PROBE_STATE_DIR={{ probes_state_dir }}
