# shellcheck shell=sh
PG_VERSION={{ postgres_ha_version | quote }}
PG_CLUSTER={{ postgres_ha_cluster | quote }}
PG_PORT={{ postgres_ha_port | quote }}
PG_UNIT={{ postgres_ha_unit | quote }}
PG_DATADIR={{ postgres_ha_datadir | quote }}
PG_CONFDIR={{ postgres_ha_confdir | quote }}
PG_BINDIR={{ postgres_ha_bindir | quote }}
HA_STATE_DIR={{ postgres_ha_state_dir | quote }}
HA_ETC_DIR={{ postgres_ha_etc_dir | quote }}
HA_SBIN_DIR={{ postgres_ha_sbin_dir | quote }}
HA_USER={{ postgres_ha_user | quote }}
HA_SELF={{ inventory_hostname | quote }}
HA_SELF_NAME={{ postgres_ha_self_name | quote }}
HA_PEER={{ postgres_ha_peer | quote }}
HA_PEER_NAME={{ postgres_ha_peer_name | quote }}
HA_PEER_ADDRESS={{ postgres_ha_peer_address | quote }}
HA_STANDBY_MISSING={{ postgres_ha_standby_missing | quote }}
HA_STANDBY_MISSING_GRACE={{ postgres_ha_standby_missing_grace_seconds | quote }}
HA_WATCH_INTERVAL={{ postgres_ha_watch_interval_seconds | quote }}
HA_READY_TIMEOUT={{ postgres_ha_ready_timeout_seconds | quote }}
HA_PROMOTE_TIMEOUT={{ postgres_ha_promote_timeout_seconds | quote }}
